@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 10;
    font-display: swap;
    src: url("../fonts/dana/dana-fanum-thin.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/dana/dana-fanum-extralight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/dana/dana-fanum-light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/dana/dana-fanum-medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/dana/dana-fanum-demibold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 750;
    font-display: swap;
    src: url("../fonts/dana/dana-fanum-ultrabold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/dana/dana-fanum-extrabold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/dana/dana-fanum-black.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("../fonts/dana/dana-fanum-bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../fonts/dana/dana-fanum-regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
