<ion-app>
  <!-- App header -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>سامانه مدیریت اپلیکیشن دانشگاه</ion-title>
      <ion-button slot="end" fill="clear" >
        <span>خروج</span>
        <ion-icon slot="start" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <!-- App content -->
  <ion-content>
    <ion-split-pane contentId="main-content">
      <!-- app sidenav -->
      <ion-menu class="menu-side-end" contentId="main-content" type="overlay">
        <ion-content>
          <ion-list id="inbox-list">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-img [src]="p.Image"></ion-img>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-title><ion-img src="./assets/icons/azadlogo.png" style="width: 40px;"></ion-img>دانشگاه آزاد
            اسلامی</ion-title>
        </ion-content>
      </ion-menu>
      <!-- main content -->
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-content>
</ion-app>