// App scss
* {
  font-family: Vazirmatn RD UI FD !important;
  direction: rtl;
}


// header scss
ion-header {
  box-shadow: 0px 2px 8px rgb(28 45 64 / 8%);
}

ion-header ion-toolbar ion-title {
  font-size: small;
  color: black;
}


ion-header ion-toolbar ion-button span {
  font-weight: 500;
  font-size: 12px;
  line-height: 18.4px;
  letter-spacing: -2%;
  color: #76778C;
}

ion-header ion-toolbar ion-icon {
  color: #137BF4;
}

// sidenav scss

// android and web app
ion-menu {
  width: 280px;
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-top: 30px;
}

// ion-menu.md ion-list {
//   padding: 20px 2px;
// }

ion-menu.md ion-note {
  margin-bottom: 30px;
}

// ion-menu.md ion-list-header,
// ion-menu.md ion-note {
//   padding-left: 10px;
// }

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #FAFAFC;
  margin-bottom: 2px;
  border-right: 4px solid #FAFAFC;
}

ion-menu ion-item {
  --border-right: 4px;
}

ion-menu.md ion-item.selected {
  --background: linear-gradient(270deg, #137BF4 0%, #175CAA 100%);
  --color: #FFFFFF;
  border-right: 4px solid #F2BF26;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

ion-menu.md ion-item ion-img {
  margin-left: 0.5rem;
  width: 16px;
  height: 16px;
}

ion-menu.md ion-item ion-img.hidden {
  display: none;
}

ion-menu.md ion-item ion-img.img2 {
  display: none;
}

ion-menu.md ion-item ion-img.img2.active {
  display: flex;
}


ion-menu.md ion-item ion-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}


ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-menu ion-title ion-img {
  margin: auto;
  margin-top: 9rem;
}

ion-menu ion-title {
  color: #76778C;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-top: 35px;
}

@media (min-width : 992px) and (max-width : 1199.98px) {
  ion-menu {
    width: auto;
  }

  ion-menu ion-title {
    margin-top: 30px;
  }
  ion-menu ion-title ion-img {
    margin: auto;
    margin-top: 5rem;
  }
}

// @media (min-width : 992px) {
//   ion-menu {
//     width: 280px;
//   }

//   ion-menu ion-title {
//     margin-top: 35px;
//   }
// }

@media (max-width : 991.98px) {
  ion-menu ion-title {
    margin-top: 155px;
  }

  ion-header.md ion-toolbar ion-title,
  ion-header.ios ion-toolbar ion-title {
    padding-inline: 0 !important;
  }
}


// ios app
ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-item ion-img.hidden {
  display: none;
}

ion-menu.ios ion-item ion-img.img2 {
  display: none;
}

ion-menu.ios ion-item ion-img.img2.active {
  display: flex;
}


ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
  border-right: 4px solid #FAFAFC;
}

ion-menu.ios ion-item.selected {
  --background: linear-gradient(270deg, #137BF4 0%, #175CAA 100%);
  --color: #FFFFFF;
  border-right: 4px solid #F2BF26;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-menu.ios ion-title ion-img {
  margin: auto;
  margin-top: 9rem;
}

ion-menu.ios ion-title {
  color: #76778C;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-top: 35px;
}